section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-c-medium.font-s-64.text-up
        | Познакомьтесь 
        br
        | с нашей франшизой 
      ul.about-section__text.font-s-20
        li
          | Студия эстетики тела и лица 
          span.font-w-bold «Your PROOBRAZ» 
          | открылась 
          span.font-w-bold в 2016 году 
          br.no-br
          | в Нефтекамске. 
          span.font-w-bold В 2023 году 
          | мы открыли второй филиал по франшизе, 
          br.no-br
          | а 
          span.font-w-bold в 2023 и 2024 гг. 
          | запустили еще 2 собственные прибыльные точки 
          br
          | в Ижевске и Уфе. 
          br
          br
        li
          | Мы работаем для людей, которые заботятся о своем теле и хотят 
          br.no-br
          | хорошо выглядеть, избавившись от лишних волос и объемов. 
          br.no-br
          | Основные услуги студии — лазерная эпиляция и LPG-массаж, которые 
          br.no-br
          | выполняются профессиональными мастерами на современном 
          br.no-br
          | оборудовании Prof Beauty. Результат от процедур виден уже после 
          br.no-br
          | первого сеанса, и клиенты с удовольствием рекомендуют нас своим 
          br.no-br
          | друзьям и близким.
          br
          br
        li
          | Рынок лазерной эпиляции и LPG-массажа продолжает оставаться 
          br.no-br
          | актуальным и востребованным в нашей стране. Все больше людей 
          br.no-br
          | стремятся к улучшению своего внешнего вида и состояния своей 
          br.no-br
          | кожи. Запуская бизнес в этой сфере по франшизе, вы получаете 
          br.no-br
          | возможность открыть собственную студию за 1,5 месяца, быстро 
          br.no-br
          | окупить инвестиции и перейти к масштабированию. 
          br
          br
        li
          | Мы предоставим вам пошаговую инструкцию по становлению 
          br.no-br
          | бизнеса, обучим специфике проведения процедур, поможем привлечь 
          br.no-br
          | клиентов и проконсультируем по любым возникающим вопросам.
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="776" height="978" alt="image")
      img.about-section__img-bg(src="images/about-section-img-bg.png" loading="lazy" width="824" height="263" alt="image")
