section.invest-section
  .wrapper
    .invest-section__container
      .invest-section__box
        .invest-section__box-text
          .invest-section__title.font-w-c-medium.font-s-64.text-up
            | О схеме 
            br
            | совместной 
            br
            | работы
          .swiper-invest
            .invest-section__cards.swiper-wrapper
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 01
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Заключение <br> договора франшизы
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 02
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Поиск помещения <br> и заключение <br> договора аренды
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 03
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Ремонт и оформление <br> помещения
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 04
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Поиск персонала
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 05
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Формирование первичных <br> запасов товара <br> и расходных материалов
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 06
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Запуск рекламных <br> компаний
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 07
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Обучение персонала
              .invest-section__card.swiper-slide
                .invest-section__card-title.font-w-c-medium.font-s-64 08
                img.invest-section__card-icon(src="images/invest-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .invest-section__card-text.font-s-20 Официальное открытие
            .invest-pagination.swiper-progress-invest
          .invest-section__bottom
            .font-w-c-medium.font-s-32
              | Работаем строго по договору, 
              br
              | в котором описаны наши 
              br
              | обязанности и все условия 
              br
              | сотрудничества
            button.btn.invest-item(data-remodal-target="modal-form-agreement") Скачать пример договора
        .invest-section__box-img
          img.invest-section__img(src="images/invest-section-img.jpg" loading="lazy" width="750" height="886" alt="image")
      //- img.invest-section__line1(src="images/invest-section-line.png" loading="lazy" width="1272" height="22" alt="line")
      //- img.invest-section__line2(src="images/invest-section-line.png" loading="lazy" width="1272" height="22" alt="line")
      //- h2.invest-section__title
      //-   img.invest-section__title-icon(src="images/invest-section-title.png" loading="lazy" width="1180" height="106" alt="icon")
      //- .swiper-invest
      //-   .invest-section__cards.swiper-wrapper
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 1
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Заключение
      //-         br
      //-         | договора 
      //-         span.font-w-os-regular франшизы
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 2
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Обучение
      //-         br
      //-         span.font-w-os-regular руководителя
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 3
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Поиск подходящего 
      //-         br.no-br-md
      //-         | помещения 
      //-         span.font-w-os-regular и 
      //-         br.no-br-md
      //-         span.font-w-os-regular заключение договора 
      //-         br.no-br-md
      //-         span.font-w-os-regular аренды
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 4
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Покупка 
      //-         span.font-w-os-regular склада-
      //-         br
      //-         span.font-w-os-regular контейнера
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 5
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         span.font-w-os-regular Оформление 
      //-         | ИП
      //-         br
      //-         | или ООО
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 6
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         span.font-w-os-regular Поиск 
      //-         | персонала
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 7
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         span.font-w-os-regular Запуск 
      //-         | рекламы
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 8
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         span.font-w-os-regular Закупка 
      //-         | необходимого 
      //-         br
      //-         | оборудования 
      //-         span.font-w-os-regular и 
      //-         br
      //-         span.font-w-os-regular инструментов
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 9
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Обучение 
      //-         br
      //-         span.font-w-os-regular персонала
      //-     .invest-section__card.color-black.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 10
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Заключение 
      //-         span.font-w-os-regular первых 
      //-         br
      //-         | договоров 
      //-         span.font-w-os-regular подряда
      //-     .invest-section__card.color-sky.swiper-slide
      //-       .font-w-bold.font-s-24
      //-         | Шаг 11
      //-         span.font-s-16 /11
      //-       .font-w-os-bold.font-s-18
      //-         | Официальное
      //-         br
      //-         | открытие
      //-   .invest-pagination.swiper-progress-invest
      //- .invest-section__bottom
      //-   img.invest-section__img(src="images/invest-section-img.png" loading="lazy" width="177" height="300" alt="image")
      //-   .invest-section__bottom-left
      //-     .font-w-bold.font-s-28.mark-sky
      //-       | Работаем строго
      //-       br
      //-       | по договору,
      //-     .font-w-regular.font-s-24
      //-       | в котором описаны наши обязанности
      //-       br
      //-       | и все условия сотрудничества
      //-   .invest-section__bottom-right
      //-     img.invest-section__logo-name(src="images/invest-section-logo-name.png" loading="lazy" width="128" height="25" alt="icon")
      //-     button.btn(data-remodal-target="modal-form-agreement") скачать пример договора

