section.start-section
  .wrapper
    .start-section__container.text-center
      h2.start-section__title.font-w-c-medium.font-s-64.text-up
        | Познакомьтесь 
        br.no-br
        | с нашей франшизой
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-line
            .font-w-semi-bold-i.font-s-48.mark-gold Mini
            .start-section__card-sub-title.font-s-20 Лазерная эпиляция
            .start-section__card-text.font-s-20
              span.font-w-semi-bold 1 кабинет
              br
              | Площадь: 10-20 м²
            .start-section__card-desc.font-w-c-medium.font-s-22.text-up
              | Скачайте подробное 
              br
              | описание формата 
              br
              | и финансовую модель
            button.btn(data-remodal-target="modal-form-investments") Скачать
          .start-section__card.swiper-slide
            .start-section__card-line
            .font-w-semi-bold-i.font-s-48.mark-gold Standart
            .start-section__card-sub-title-right.font-s-20 Лазерная эпиляция <br> + LPG-массаж
            .start-section__card-text.font-s-20
              span.font-w-semi-bold 1 кабинет
              br
              | Площадь: 25-40 м²
            .start-section__card-desc.font-w-c-medium.font-s-22.text-up
              | Скачайте подробное 
              br
              | описание формата 
              br
              | и финансовую модель
            button.btn(data-remodal-target="modal-form-investments") Скачать
        .start-pagination.swiper-progress-start
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="959" height="796" alt="image")
